---
import Layout from "../layouts/Layout.astro";
import Navbar from "../sharedComponents/Navbar/Navbar";
import Section from "../sharedComponents/Section/Section";
---

<Layout title="Welcome to Astro.">
  <Navbar client:load />

  <div class="circles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <main>
    <Section id="home" title={{ name: "Home" }}>
      <div class="home-img">
        <img
          class="coder parallax"
          data-rate="1"
          src="./assets/coder.svg"
          alt="illustration-coder"
          width="255"
        />
      </div
      
      >

      <h2>Hey!</h2>
    </Section>
    <Section id="projects" title={{ name: "Projects" }}>
      <h2>Hey!</h2>
    </Section>
  </main>
</Layout>


<style>
  main {
    padding-top: 5rem;
  }

  .circles > div {
    position: absolute;
    background-color: var(--accent-fade);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  .circles > div:nth-child(1) {
    top: 7%;
    left: 20%;
    transform: scale(0.8);
  }

  .circles > div:nth-child(2) {
    top: 1%;
    left: 70%;
    transform: scale(0.4);
  }

  .circles > div:nth-child(3) {
    top: 30%;
    left: -5%;
    transform: scale(1.2);
  }

  .circles > div:nth-child(4) {
    top: 20%;
    left: 90%;
    transform: scale(2);
  }
</style>

