---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar";
import Section from "../components/Section/Section";
---

<Layout title="Welcome to Astro.">
  <Navbar
    links={[
      { to: "/", name: "Home" },
      { to: "#about", name: "About" },
      { to: "/#projects", name: "Projects" },
      { to: "/#contact", name: "Contact" },
    ]}
    client:load
  />

  <div class="circles">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <main>
    <Section id="projects" title={{ name: "Projects" }}>
      <h2>Hey!</h2>
    </Section>
  </main>
</Layout>

<style>
  main {
    padding-top: 5rem;
  }

  .circles > div {
    position: absolute;
    background-color: var(--accent-fade);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  .circles > div:nth-child(1) {
    top: 7%;
    left: 20%;
    transform: scale(0.8);
  }

  .circles > div:nth-child(2) {
    top: 1%;
    left: 70%;
    transform: scale(0.4);
  }

  .circles > div:nth-child(3) {
    top: 30%;
    left: -5%;
    transform: scale(1.2);
  }

  .circles > div:nth-child(4) {
    top: 20%;
    left: 90%;
    transform: scale(2);
  }
</style>
