---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/5427cff733.js"
      crossorigin="anonymous"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mitr:wght@400;500;600;700&display=swap");

  :root {
    --primary: #5081ff;
    --primary-fade: #5283ff26;
    --primary-light: #7683a5;
    --primary-light-fade: #7683a526;
    --primary-dark: #144ad6;

    --accent: #ee6807;
    --accent-fade: #ee68071a;

    --dark: #121213;
    --dark-fade: #121213cc;
    --light: #f2f2f2;
    --light-bg: #eef3ff;

    --font-1: "Mitr", sans-serif;
    --font-2: "K2D", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--light-bg);
    color: var(--light);
    font-family: "Mitr", "sans-serif";
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  .text-shadow-sm {
    text-shadow: 0px 1px 0px var(--accent);
  }

  .text-shadow {
    text-shadow: 0px 3px 0px var(--accent);
  }

  .hoverable {
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hoverable:hover {
    filter: brightness(75%);
  }

  .no-highlight {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }
  .no-highlight:focus {
    outline: none !important;
  }
</style>
